<nav>
    <ul>
      <li><a (click)="scrollToComponent('aboutme')">Component 1</a></li>
      <li><a (click)="scrollToComponent('competences')">Component 2</a></li>
      <li><a (click)="scrollToComponent('qualifications')">Component 3</a></li>
      <li><a (click)="scrollToComponent('portfolio')">Component 4</a></li>
      <li><a (click)="scrollToComponent('refernces')">Component 5</a></li>
      <li><a (click)="scrollToComponent('contactme')">Component 5</a></li>
      <li><a (click)="scrollToComponent('component')">Component 6</a></li>
    </ul>
  </nav>
  